body {
	text-align: center;
	margin: auto;
	font-family: 'Ubuntu', sans-serif;
}

#main_background {
	background-image: url("Accra_skyline.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center 50%;
	background-attachment: fixed;
	padding-bottom: 20em;
}

#profile {
	background-color: white;
	padding: 50px;
	width: 250px;
	margin: auto;
	text-align: center;
	margin-top: 12%;
	border-radius: 95%;
}

#profile img {
	border-radius: 50%;
	height: 100px;
	width: auto;
}

header {
	background-color: white;
	margin: auto;
	padding: 20px;
	z-index: 2;
}

.site-nav a {
	text-decoration: none;
	color: black;
	display: inline-block;	
}

#masthead {
	height: 50px;
	padding-top: 0;
	padding-left: 30px;
	padding-right: 30px;
}

.site-title {
	float: left;
	font-size: large;
	padding-bottom: 10px;
	padding-top: 0px;
	display: inline-block;
}

.site-title h2 {
	display: inline-block;
	text-decoration: none;
	color: black;
}

.site-nav {
	display: inline-block;
	float: right;
	padding-top: 10px;
}

#adinkra {
	height: 30px;
	width: auto;
}

#about p {
	width: 800px;
	text-align: center;
	margin: auto;
}

#about .fa {
	padding-top: 20px;
	color: black;
}

#about .fa:hover {
	color: red;
}

iframe {
	margin: auto;
}

footer {
	padding-top: 20px;
}

footer ul {
	list-style-type: none;
	text-align: center;
	float: center;
	width: 500px;
	margin: auto;
	padding: 0;
}

footer ul li {
	display: inline-block;
	margin: 5px;
}

.fa {
	color: black;
}

.fa:hover {
	color: red;
}

